@model TeamManager.Models.TeamModel

@Helpers.DisplayAvatar(Model.Avatar, "Teams", Model.Name)

<ul class="list-group">
    <li class="list-group-item text-muted">Team</li>
    <li class="list-group-item text-right">
        <span class="pull-left">
            <strong>@Html.DisplayNameFor(model => model.Name)</strong>
        </span>@Html.DisplayFor(model => model.Name)
    </li>
</ul>