@model TeamManager.Models.TeamModel

<div class="display-field">
    @if (String.IsNullOrEmpty(Model.Avatar))
    {
        <img src="@Url.Content("~/Content/Avatars/Teams/empty.png")" class="thumbnail" alt="Image" />
    }
    else
    {
        <img src="@Url.Content(String.Format("~/Content/Avatars/Teams/{0}", Model.Avatar))" class="thumbnail" alt="Image" />
    }
</div>

<ul class="list-group">
    <li class="list-group-item text-muted">Team</li>
    <li class="list-group-item text-right">
        <span class="pull-left">
            <strong>@Html.DisplayNameFor(model => model.Name)</strong>
        </span>@Html.DisplayFor(model => model.Name)
    </li>
</ul>