@model TeamManager.Models.PlayerModel
@{
    ViewBag.Title = "Delete Player";
}

<div class="alert alert-warning" role="alert">
    <strong>Warning:</strong> Are you sure you want to delete this player?
</div>

@{Html.RenderPartial("_Player", Model);}

@using (Html.BeginForm())
{
    <input type="submit" class="btn btn-danger" value="Delete" />
    @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-default" })
}