@model TeamManager.Models.TeamModel
@{
    ViewBag.Title = "Delete Team";
}
<div class="alert alert-warning" role="alert">
    <strong>Warning:</strong> Are you sure you want to delete this team? Players of this team will be automatically removed.
</div>

@{Html.RenderPartial("_Team", Model);}

@using (Html.BeginForm())
{
    <input type="submit" class="btn btn-danger" value="Delete" />
    @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-default" })
}
