@model TeamManager.Models.SelectTeamModel
@{
    ViewBag.Title = "Select Team";
}

@{Html.RenderPartial("_Player", Model.Player);}

<div class="alert alert-warning" role="alert">
    <strong>Warning:</strong> If this player has already a team, he will be removed from his previous team!
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Teams</h3>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                Name
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (var item in Model.Teams)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Add", "AddToTeam", new { playerId = Model.Player.Id, teamId = item.Id, redirectToPlayer = true }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>
</div>
